/* chat bubbles */

/*timestamp positioning for self bubbles*/

[data-list-id="chat-messages"]  li[data-is-self="true"]>[class^="message"]>[class*="contents_"] {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

[data-list-id="chat-messages"] li[data-is-self="true"]>[class^="message"] h3[aria-labelledby*="message-username"] {
    /*margin: 0.5em -1.5em -0.5em 0.5em; /* <- right aligned margin */
    margin: 0.5em 0em -0.5em -0.25em; /* <- left aligned margin */
    align-self: flex-start;
}

[data-list-id="chat-messages"] li[data-is-self="true"]>[class^="message"]>[id^="message-accessories-"] {
    margin-top: 0.75rem;
}

/*styling for message and attachment actions*/

[data-list-id="chat-messages"] li[id^="chat-messages-"] [class^="mosaicItem_"] [class^="hoverButtonGroup"] {
    border: 1px solid var(--background-modifier-active);
    outline: none;
}

[data-list-id="chat-messages"] li[id^="chat-messages-"] [class^="buttons_"] {
    margin-right: -2rem;
    border: 1px solid var(--background-modifier-active);
    padding: 0;
    border-radius: 4px;
}

/*hover effects*/

[data-list-id="chat-messages"] li[id^="chat-messages-"]:hover>[class^="message_"] {
    background: var(--background-secondary);
}
.theme-dark.mouse-mode.full-motion [data-list-id="chat-messages"] li[id^="chat-messages-"]>[class^="message_"]:hover {
    background: var(--background-secondary);
}
[data-list-id="chat-messages"] li[id^="chat-messages-"]:hover {
    background: color-mix(in srgb, var(--background-modifier-selected) 70%, var(--bg-overlay-1));
}
[data-list-id="chat-messages"] li[id^="chat-messages-"]:hover [class^="buttons_"] {
    opacity: 1;
    pointer-events: all;
}
[data-list-id="chat-messages"] li[id^="chat-messages-"]:hover [class*="timestampVisibleOnHover"] {
    opacity: 1;
}

[data-list-id="chat-messages"] li[data-is-self="true"]:hover>[class^="message"] {
    background-color: color-mix(in srgb, var(--brand-500) 30%, black);
}

.theme-light [data-list-id="chat-messages"] li[data-is-self="true"]:hover>[class^="message"] {
    background-color: color-mix(in srgb, var(--brand-500) 30%, white);
}

.theme-dark.mouse-mode.full-motion [data-list-id="chat-messages"] li[data-is-self="true"]>[class^="message"]:hover {
    background-color: color-mix(in srgb, var(--brand-500) 30%, black);
}

.theme-light.mouse-mode.full-motion [data-list-id="chat-messages"] li[data-is-self="true"]>[class^="message"]:hover {
    background-color: color-mix(in srgb, var(--brand-500) 30%, white);
}

/*message highlights*/

[data-list-id="chat-messages"] li[id^="chat-messages-"]:has([class*="mentioned"]) {
    background: color-mix(in srgb, var(--background-mentioned) 60%, var(--bg-overlay-1));
}
[data-list-id="chat-messages"] li[id^="chat-messages-"]:has([class*="mentioned"])>[class*="message"] {
    border-color: color-mix(in srgb, var(--info-warning-foreground) 60%, var(--bg-overlay-1));
}
[data-list-id="chat-messages"] li[id^="chat-messages-"]:has([class*="mentioned"])>[class*="message"]::before {
    display: none;
}

[data-list-id="chat-messages"] li[id^="chat-messages-"]:has([class*="ephemeral"]) {
    background: color-mix(in srgb, var(--brand-500) 10%, var(--bg-overlay-1));
}
[data-list-id="chat-messages"] li[id^="chat-messages-"]:has([class*="ephemeral"])>[class*="message"] {
    border-color: color-mix(in srgb, var(--brand-500) 50%, var(--bg-overlay-1));
}
[data-list-id="chat-messages"] li[id^="chat-messages-"]:has([class*="ephemeral"])>[class*="message"]::before {
    display: none;
}

[data-list-id="chat-messages"] li[id^="chat-messages-"]:has([class*="replying"]) {
    background: color-mix(in srgb, var(--brand-500) 20%, var(--bg-overlay-1));
}
[data-list-id="chat-messages"] li[id^="chat-messages-"]:has([class*="replying"])>[class*="message"] {
    border-color: color-mix(in srgb, var(--brand-500) 60%, var(--bg-overlay-1));
}
[data-list-id="chat-messages"] li[id^="chat-messages-"]:has([class*="replying"])>[class*="message"]::before {
    display: none;
}

/*main bubbles*/

li[id^="chat-messages-"] [class*="message_"]:not([class*="systemMessage"]) {
    background: var(--background-secondary);
    border: 1px solid var(--background-modifier-active);
    padding: 0.75rem;
    border-radius: 0.75rem;
    margin: 0.05rem 3rem 0.05rem 4rem;
    width: fit-content;
    max-width: calc(100% - 10rem);
}
  
[id^="chat"] [class*="avatar_"],
[id^="chat"] [class*="avatarDecoration"],
[id^="chat"] [class*="timestampVisibleOnHover"] {
    margin-left: -4rem;
}

li[class^="card_"] [class^="message_"] {
    margin: 0.25rem 0;
}

[data-list-id="chat-messages"] li[data-is-self="true"]>[class^="message"] {
    background-color: color-mix(in srgb, var(--brand-500) 40%, black);
}

[data-list-id="chat-messages"] .theme-light li[data-is-self="true"]>[class^="message"] {
    background-color: color-mix(in srgb, var(--brand-500) 40%, white);
}

[data-list-id="chat-messages"] li[data-is-self="true"]>[class^="message"] {
    margin-left: auto;
    margin-right: 3.5em;
    max-width: calc(100% - 12rem);
    padding-right: 2rem !important; /* why is this required? because discord devs suck and used !important in their own css */
}

[data-list-id="chat-messages"] li[data-is-self="true"]>[class^="message"] img[class*="avatar"] {
    margin-left: auto;
    right: 0;
    margin-right: -3em;
}

[data-list-id="chat-messages"] li[data-is-self="true"]>[class^="message"] h3[aria-labelledby*="message-username"]>span:not([class^="timestamp_"]) {
    display: none;
}

[data-list-id="chat-messages"] li[data-is-self="true"]>[class^="message"] h3[aria-labelledby*="message-username"]>span {
    float: right;
}

[data-list-id="chat-messages"] li[data-is-self="true"]>[class^="message"] div[class*="repliedMessage_"] {
    flex-direction: row-reverse;
    gap: 0.25rem;
    margin-right: -1.6rem;
}

[data-list-id="chat-messages"] li[data-is-self="true"]>[class^="message"] div[class*="repliedMessage_"]::before {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    left: 100%;
    right: calc(-1*(.5*var(--avatar-size) + var(--gutter)));
}

[class*="gridContainer"]>[class*="grid"] [class*="embedDescription"]>[class^="message_"] {
    margin: 0.1rem 0.1rem 0.1rem 2rem;
    max-width: 95%;
    --custom-message-margin-left-content-cozy: 10px;
}

li[id^="chat-messages-"]>[class^="message"][class*="groupStart"]::after {
    display: none;
}
li[id^="chat-messages-"]>[class^="message"][class*="groupStart"] [id^="message-accessories"]>[class^="container"] {
    max-width: 100%;
}
