/* chat bubbles */

[class*="message_"]:not([class*="systemMessage"]) {
    background: var(--background-secondary);
    border: 1px solid var(--background-modifier-active);
    padding: 0.75rem;
    border-radius: 0.75rem;
    margin: 0.1rem 3rem 0 4rem;
    width: fit-content;
    max-width: calc(100% - 10rem);
}
  
[id^="chat"] [class*="avatar_"],
[id^="chat"] [class*="avatarDecoration"],
[id^="chat"] [class*="timestampVisibleOnHover"] {
    margin-left: -4rem;
}
  
li[class^="card_"] [class^="message_"] {
    margin: 0.25rem 0;
}