/* moves sidebar and servers nav to the right properly */

div[class^="listItem_"]>div[class^="pill_"] {
    left: unset;
    right: 0;
}
div[class^="listItem_"]>div[class^="pill_"] span {
    border-radius: 4px;
    margin-left: 0;
    width: 4px;
}

div[class*="baseLayer_"]>div[class^="container_"] {
    flex-direction: row-reverse;
}

div[class*=container] div[class*=base]:not([class*=baseLayer]):not([class*=member]):not([class*=typing]):not([class*=numberBadge]) {
    padding-right: 0;
    padding-left: 16px;
}

div[class^="container_"]>div[class^="base"]>div[class^="content"] {
    flex-direction: row-reverse;
}

div[class^="chat_"]>[class^="header_"]+[class^="content"] {
    flex-direction: column;
}

div[class^="chat_"]>div[class^="content_"] {
    flex-direction: row-reverse;
}

div[class*=content_]>div[class*=sidebar] {
    margin-right: 0px;
    margin-left: 16px;
}

div[class*=members], div[class*=userPanelOuter] {
    margin-left: 0;
    margin-right: 16px;
}

div[id^="popout_"]:has([class*="messagesPopoutWrap_"]),
div[id^="popout_"]:has([class^="browser"]) {
    transform: translateX(70%);
}

div[id^="popout_"]:has([id="emoji-picker-tab-panel"]),
div[id^="popout_"]:has([class*="recentMentionsPopout_"]){
    left: 0.5em !important; /* why is this required? because discord devs suck and can't make their layout responsive or flexible in any way */
    right: unset !important
}
