/* base theme */

.theme-light:root {
    --cute-accent: var(--cute-accent-light);
}

.theme-dark:root {
    --cute-accent: var(--cute-accent-dark);
}

:root,
.theme-dark,
.theme-light {
    --brand-experiment: var(--cute-accent);
    --brand-100: var(--cute-accent);
    --brand-130: var(--cute-accent);
    --brand-160: var(--cute-accent);
    --brand-200: var(--cute-accent);
    --brand-230: var(--cute-accent);
    --brand-260: var(--cute-accent);
    --brand-300: var(--cute-accent);
    --brand-330: var(--cute-accent);
    --brand-345: var(--cute-accent);
    --brand-360: var(--cute-accent);
    --brand-400: var(--cute-accent);
    --brand-430: var(--cute-accent);
    --brand-460: var(--cute-accent);
    --brand-500: var(--cute-accent);
    --brand-530: var(--cute-accent);
    --brand-560: var(--cute-accent);
    --brand-600: var(--cute-accent);
    --brand-630: var(--cute-accent);
    --brand-660: var(--cute-accent);
    --brand-700: var(--cute-accent);
    --brand-730: var(--cute-accent);
    --brand-760: var(--cute-accent);
    --brand-800: var(--cute-accent);
    --brand-830: var(--cute-accent);
    --brand-860: var(--cute-accent);
    --brand-900: var(--cute-accent);
}

.theme-light ::-webkit-scrollbar-thumb,
.theme-dark ::-webkit-scrollbar-thumb {
    background-color: var(--cute-accent);
}

/* jump to present & new messages bars */

[class^=jumpToPresentBar] {
    backdrop-filter: blur(8px);
    background-color: color-mix(in srgb, var(--background-accent) 70%, transparent);
    opacity: 1;
    transition: box-shadow 0.1s ease-out;
    box-shadow: 0 -5px 12px rgba(0, 0, 0, 0.2);

    &:hover {
        box-shadow: 0 -8px 22px rgba(0, 0, 0, 0.5);
    }
}

[class^=newMessagesBar] {
    backdrop-filter: blur(8px);
    background-color: color-mix(in srgb, var(--bg-brand) 40%, transparent);
    opacity: 1;
    transition: box-shadow 0.1s ease-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);

    &:hover {
        box-shadow: 0 8px 22px rgba(0, 0, 0, 0.5);
    }
}

/* popup backdrop */

[class^=layerContainer_]:has([class^=backdrop_]) {
    backdrop-filter: blur(4px);
}

/* make discord responsive for smaller window sizes */

@media only screen and (max-width: 1024px) {
    div[class^="contentColumn_"] {
        max-width: 60%;
    }

    div[class^="noticeRegion_"] {
        position: fixed;
    }
}

[class^="shop_"] {
    min-width: unset;
    overflow-x: hidden;
}

[class^=guildListSection] {
    min-width: unset;
}

[class*=contentTransitionWrap] [class^=toolsContainer] { /*esc X button in user settings*/
    position: fixed;
    right: -0.5rem;
    top: -0.5rem;
}

[class*="themed_"] [class^="children_"] [role="tablist"] {
    overflow-x: scroll;
}
[class*="themed_"] [class^="children_"] [role="tablist"]::-webkit-scrollbar {
    height: 0px;
}

/* attribution in settings + settings sidebar */

div[class*="layer_"] div[class*="standardSidebarView_"] div[class*="sidebarRegion_"] div[class*="sidebarRegionScroller_"] nav[class*="sidebar_"] {
    border-right: 1px solid var(--border-subtle);
}

div[class*="layer_"] div[class*="standardSidebarView_"] div[class*="sidebarRegion_"] div[class*="sidebarRegionScroller_"] nav[class*="sidebar_"] div[class*="side_"]>div[class*="clickable_"]>div[class*="info_"] {
    background: linear-gradient(to bottom, #5ccefa, #5ccefa 20%, #f6a8b7 20%, #f6a8b7 40%, #fff 40%, #fff 60%, #f6a8b7 60%, #f6a8b7 80%, #5ccefa 80%, #5ccefa);
    background-position: right bottom, center center;
    background-repeat: no-repeat, repeat;
    --text-muted: black;

    span {
        font-family: monospace;
        font-weight: bold;
    }

    margin-bottom: 1rem;
}
